{{#each items}}
	<div class="activity-item">
		<a href="../activity/activity-detail.html?code={{code}}">
    		<div class="pic fl" style="background-image: url('{{formatImage advPic}}');"></div>
    		<div class="content fr">
    			<div class="name">{{name}}</div>
    			<div class="info">
    				<samp class="address  wp100">{{placeDest}}</samp>
    				<samp class="data wp100">{{formatDate startDatetime}}至{{formatDate endDatetime}}</samp>
    			</div>
    			<div class="care"><samp>{{groupNum}}人已报名</samp></div>
    			<div class="priceWrap">
    				<div class="price">￥{{amount}}</div>
    			</div>
    		</div>
		</a>
		<div class="joinInBtn">报名</div>
	</div>
    
{{/each}}
