{{#each items}}
	<div class="mall-item" data-code="{{code}}">
		<div class="choose fl"></div>
		<div class="mall-item-img fl" data-advPic="{{advPic}}" style="background-image: url('{{formatSquareImage advPic}}');"></div>
		<div class="mall-item-con fl">
			<p class="name">{{name}}</p>
			<samp class="slogan"></samp>
			<div class="price">
				<samp class="samp1">{{defaultProductPrice}}</samp>
				<samp class="samp2"></samp>
			</div>
		</div>
	</div>
    
{{/each}}
