{{#each items}}
	<div class="mall-item" data-code="{{code}}">
		<div class="choose fl"></div>
		<div class="mall-item-img fl" data-advPic="{{advPic}}" style="background-image: url('{{formatImage advPic}}');"></div>
		<div class="mall-item-con fl">
			<p class="name">{{name}}</p>
			<samp class="slogan t_999_i rentDays">{{slogan}}</samp>
			<samp class="slogan t_999_i data">最少租赁{{minRentDays}}天</samp>
			<div class="price">
				<samp class="samp1">{{defaultLeaseProductPrice}}/天</samp>
				<samp class="samp2"></samp>
			</div>
		</div>
	</div>
    
{{/each}}
